body {
    color: #333;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
html {
    font-size: 62.5%;
}
#container {
     width: 70%;
     padding: 1rem;
     text-align: left;
     border: 2px solid #d3e4;
     margin: 0 auto;
}
#container h1 {
    font-size: 2.2rem;
    color: #6d03d0;
}
#container p {
    font-size: 1.5rem;
}
#cabecera {
    font-size: 4rem;
    font-weight: bold;
    background: url("../imagenes/Logo1.jpg") 10px 10px;
    margin: 0;
    color: blue;
    padding: 1rem 10rem;
    box-shadow: 0rem 0.5rem 3rem 0rem rgba(0,0,0,0.6);
}
#cabecera #tagline {
    font-size: 1.5rem;
    font-weight: normal;
    padding: 0 0 0 3rem;
}